# Projeto 1 - Ciência dos Dados

Nome: Lara Christine Melo Vasconcelos

Nome: João Lucas Brasileiro

Nome: Laisa Camilly 

Nome: Victor de Almeida Cunha

Atenção: Serão permitidos grupos de até 4 pessoas, mas com uma rubrica mais exigente.

___
Carregando algumas bibliotecas:

In [357]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [358]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\princ\OneDrive - Insper - Institudo de Ensino e Pesquisa\Documentos\INSPER\2 periodo\CDADOS\PROE\projeto1_cdados

Carregando a base de dados com as mensagens dos seus arquivos:

In [359]:
train = pd.read_csv('dados_treino_QUARTETO_Victor de Almeida Cunha.csv')
train.head(5)

                                              Review        NPS
0   Denver to Orlando. I made a mistake when prep...   Promoter
1  On January 8 2015 I had the displeasure of bei...  Detractor
2    Noumea to Napier via Auckland. Paid an extra...  Detractor
3    San Francisco to Phuket via Guangzhou on 22n...  Detractor
4  I checked our family of 6 in online before we ...  Detractor

In [360]:
teste = pd.read_csv('dados_teste_QUARTETO_Victor de Almeida Cunha.csv')
teste.head(5)

                                              Review        NPS
0  In general good service, but we don't have muc...    Passive
1  Delta will always be my first choice across th...   Promoter
2  I can confirm what has been reported earlier a...  Detractor
3  As a long time Continental customer and I real...    Passive
4    I flew Air India from Newark to Mumbai and b...    Passive

___
## Classificador automático

Faça aqui uma descrição do seu assunto e o contexto referente aos rótulos cujas mensagens (ou reviews) deverão ser classificadas.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [378]:
# Limpando caracteres especiais
def limpar(texto):
    especial = '"\'(),:.$.!?-#'
    limpo = ''
    for caracter in texto:
        if caracter not in especial:
            limpo += caracter
    limpo = limpo.lower().encode("ascii", "ignore")
    return limpo.decode()

 asasa

In [363]:
#Executando limpeza
# i = 0
# while i < len(train):
#     train.Review[i] = limpar(train.Review[i])
#     i+=1

# f = 0
# while f < len(teste):
#     teste.Review[f] = limpar(teste.Review[f])
#     f+=1

In [376]:
todas_palavras_treino_passive = train.loc[train.NPS == 'Passive', 'Review']
passive_line = limpar(str(todas_palavras_treino_passive)).split()
passive_line

'â\x9d\x8e Unverified | Luton to Barcelona return. Excellent both ways with Easyjet and for a bargain price. For roughly same dates BA out of LHR looking for Â£250 , this was Â£40 return including taxes! Both flights on time, outbound middle seat free, inbound whole row to myself. I purchased the speedy boarding which worked both times for getting on an off the aircraft. Crew were friendly and efficient. On landing I was back in my car in 15 minutes. Very impressed.'

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações das mensagens entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nas mensagens. Ex: stemming, lemmatization, stopwords
* CONSIDEROU arquivo com três categorias na classificação das variáveis (OBRIGATÓRIO PARA QUARTETOS, sem contar como item avançado)
* CONSTRUIU o cálculo das probabilidades corretamente utilizando bigramas E apresentou referência sobre o método utilizado.
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto (pelo menos dois cenários diferentes, exceto aqueles já apresentados em sala pelos professores: por exemplo, filtro de spam)
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item Qualidade do Classificador a partir de novas separações das mensagens entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**